.page__container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  'h h'
  's m';
}
.page__container > .header {
  grid-area: h;
}
.page__container > .sidebar {
  grid-area: s;
}
.page__container > .profile {
  grid-area: m;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: lightgreen;
}
.sidebar {
  background-color: burlywood;
}
.profile {
  background-color: cornflowerblue;
}